[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twisted = {extras = ["tls"],version = "==18.9.0"}
pymongo = "==3.7.2"

[requires]
python_version = "3.6.7"

[dev-packages]
pylint = "*"
